<h2>google思源黑體</h2>
<p class="NotoThin">(NotoThin) 0123456789 銷貨、庫存 Lorem ipsum dolor sit amet consectetur</p>
<p class="NotoLight">(NotoLight) 0123456789 銷貨、庫存 Lorem ipsum dolor sit amet consectetur</p>
<p class="NotoRegular">(NotoRegular) 0123456789 銷貨、庫存  Lorem ipsum dolor sit amet consectetur</p>
<p class="NotoMedium">(NotoMedium) 0123456789 銷貨、庫存  Lorem ipsum dolor sit amet consectetur</p>
<p class="NotoBold">(NotoBold) 0123456789 銷貨、庫存  Lorem ipsum dolor sit amet consectetur</p>
<p class="NotoBlack">(NotoBlack) 0123456789 銷貨、庫存  Lorem ipsum dolor sit amet consectetur</p>
<hr>
<h2>刻石錄(載字型檔)</h2>
<p class="Ngaan">(Ngaan) 0123456789 銷貨、庫存  Lorem ipsum dolor sit amet consectetur</p>
<hr>
<h2>蘋方體</h2>
<p class="PingFangRegular">(PingFangRegular) 0123456789 銷貨、庫存  Lorem ipsum dolor sit amet consectetur</p>
<p class="PingFangBold">(PingFangBold) 0123456789 銷貨、庫存  Lorem ipsum dolor sit amet consectetur</p>
