<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <h1>個人基本基料</h1>
  <label >
    姓名：
    <input type="text" name= "name" formControlName="name" >
  </label>
  <div *ngIf="profileForm.get('name').touched &&
          profileForm.get('name').hasError('required')">
              姓名是必填項
      </div>
  <p></p>
  <label >
    生日：(西元)
    <input type="text" formControlName="ydate" >
    (月份)
    <input type="text" formControlName="mdate" >
    (日期)
    <input type="text" formControlName="ddate" >

  </label>
  <p></p>
  <label >
      手機：
      <input type="text" name= "phone" formControlName="phone" >
    </label>ex:09xx-xxxxxx
    <div *ngIf="profileForm.get('phone').invalid ">
              電話必須輸入數字，請重新輸入
      </div>
    <p></p>
    <label >
      市話：
      <input type="text" name= "hphone" formControlName="hphone" >
    </label>ex:04-xxxxxxxxx
    <div *ngIf="profileForm.get('hphone').invalid ">
              電話必須輸入數字，請重新輸入
      </div>
    <p></p>
  <label >
      E-mail：
      <input type="text" formControlName="email">
    </label>
    <div *ngIf="profileForm.get('email').invalid ">
        請輸入E-mail
  </div>
    <p></p>
    <label >
      住址：
      <input type="text" formControlName="address">
    </label>
    <div *ngIf="profileForm.get('address').invalid ">
        請輸入住址
  </div>
    <p></p>

  <button type="submit" [disabled]="!profileForm.valid">submit</button>
  <!-- {{diagnostic}} -->
  {{profileForm.value |json}}

  </form>

  <button (click)="reset(); profileForm.reset()">reset</button>


